*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d0d0d;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.card{
    width:100%;
    max-width:420px;
    background:#1a1a1a;
    border:3px solid gold;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 0 25px rgba(255,215,0,.3);
}

h1{
    color:gold;
    font-size:32px;
    margin-bottom:10px;
}

h2{
    color:white;
    margin-bottom:20px;
}

.box{
    background:#2b2b2b;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}

.box h3{
    color:gold;
    margin-bottom:15px;
}

.box p{
    color:white;
    font-size:18px;
    margin:10px 0;
}

.bluetooth{
    color:#00ff99;
    font-size:30px;
    font-weight:bold;
    margin:15px 0;
}

.thanks{
    color:gold;
    font-size:18px;
    margin-top:20px;
    font-weight:bold;
}
